#!/bin/sh
QMAILU=`id -u qmaild`
QMAILG=`id -g qmaild`
HOSTNAME=`hostname`
export SMTPAUTH="!+cram"
. {{ glx_qmail_dir }}/ssl/ssl.env
exec env PATH="{{ glx_qmail_dir }}/bin:$PATH" \
     sslserver -seVn -Rp -l $HOSTNAME \
     -Xx {{ glx_qmail_dir }}/control/rules.sub.cdb \
     -u $QMAILU -g $QMAILG 0 submission \
     qmail-smtpd qmail-authuser true 2>&1