#!/bin/sh
QMAILU=`id -u qmaild`
QMAILG=`id -g qmaild`
HOSTNAME=`hostname`
export SMTPAUTH="!+cram"
. /var/qmail/ssl/ssl.env
exec env PATH="/var/qmail/bin:$PATH" \
     sslserver -seVn -Rp -l $HOSTNAME \
     -Xx /var/qmail/control/rules.sub.cdb \
     -u $QMAILU -g $QMAILG 0 submission \
     qmail-smtpd qmail-authuser true 2>&1