#!/usr/bin/env bash

# For Red Hat chkconfig
# chkconfig: - 80 30
# description: the qmail MTA

PATH={{ glx_sqmail_dir }}/bin:/bin:/usr/bin:/usr/local/bin:/usr/local/sbin
export PATH

SERVICE_TEXT="s/qmail"
SERVICE_DIRECTORY="{{ glx_service_dir }}"

QMAILDUID=`id -u qmaild`
NOFILESGID=`id -g qmaild`

# Screen fun thing
COLOR_GREEN="\e[92m"
COLOR_YELLOW="\e[93m"
COLOR_RED="\e[91m"
COLOR_DEFAULT="\e[39m"

BOLD="\e[1m"
BOLD_RST="\e[22m"



case "$1" in
  start)
{% if glx_sqmail_service_send.enable %}
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Start {{ glx_sqmail_service_send.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Start {{ glx_sqmail_service_send.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_smtp.enable %}
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Start {{ glx_sqmail_service_smtp.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Start {{ glx_sqmail_service_smtp.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_smtps.enable %}
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Start {{ glx_sqmail_service_smtps.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Start {{ glx_sqmail_service_smtps.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_submission.enable %}
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Start {{ glx_sqmail_service_submission.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Start {{ glx_sqmail_service_submission.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_pop3.enable %}
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Start {{ glx_sqmail_service_pop3.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Start {{ glx_sqmail_service_pop3.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_pop3s.enable %}
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Start {{ glx_sqmail_service_pop3s.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Start {{ glx_sqmail_service_pop3s.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_qmqp.enable %}
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Start {{ glx_sqmail_service_qmqp.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Start {{ glx_sqmail_service_qmqp.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_qmtp.enable %}
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Start {{ glx_sqmail_service_qmtp.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Start {{ glx_sqmail_service_qmtp.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_qmtps.enable %}
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Start {{ glx_sqmail_service_qmtps.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Start {{ glx_sqmail_service_qmtps.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log"
      printf "\n"
    fi
{% endif %}
    if [ -d /var/lock/subsys ]; then
      touch /var/lock/subsys/sqmail
    fi
    ;;
  stop)
{% if glx_sqmail_service_send.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
    if ! (( $(svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}) )) ; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Stop {{ glx_sqmail_service_qmtps.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Stop {{ glx_sqmail_service_qmtps.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_smtp.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
    if ! (( $(svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}) )) ; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Stop {{ glx_sqmail_service_smtp.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Stop {{ glx_sqmail_service_smtp.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_smtps.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
    if ! (( $(svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}) )) ; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Stop {{ glx_sqmail_service_smtps.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Stop {{ glx_sqmail_service_smtps.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_submission.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
    if ! (( $(svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}) )) ; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Stop {{ glx_sqmail_service_submission.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Stop {{ glx_sqmail_service_submission.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_pop3.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
    if ! (( $(svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}) )) ; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Stop {{ glx_sqmail_service_pop3.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Stop {{ glx_sqmail_service_pop3.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_pop3s.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
    if ! (( $(svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}) )) ; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Stop {{ glx_sqmail_service_pop3s.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Stop {{ glx_sqmail_service_pop3s.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_qmqp.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
    if ! (( $(svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}) )) ; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Stop {{ glx_sqmail_service_qmqp.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Stop {{ glx_sqmail_service_qmqp.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_qmtp.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
    if ! (( $(svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}) )) ; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Stop {{ glx_sqmail_service_qmtp.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Stop {{ glx_sqmail_service_qmtp.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_qmtps.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
    if ! (( $(svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}) )) ; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Stop {{ glx_sqmail_service_qmtps.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Stop {{ glx_sqmail_service_qmtps.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log"
      printf "\n"
    fi
{% endif %}
    if [ -f /var/lock/subsys/sqmail ]; then
      rm /var/lock/subsys/sqmail
    fi
    ;;
  stat)
    printf "Show statistics of $BOLD%s$BOLD_RST service(s)\n" "$SERVICE_TEXT"
{% if glx_sqmail_service_send.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_send.name }}"
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtp.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_smtp.name }}"
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtps.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_smtps.name }}"
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
{% endif %}
{% if glx_sqmail_service_submission.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_submission.name }}"
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_pop3.name }}"
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3s.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_pop3s.name }}"
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmqp.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_qmqp.name }}"
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtp.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_qmtp.name }}"
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtps.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_qmtps.name }}"
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
{% endif %}
	qmail-qstat
    ;;
  doqueue|alrm|flush)
    printf "Flushing timeout table and sending ALRM signal to $BOLD%s$BOLD_RST service(s)\n" "$SERVICE_TEXT"
    {{ glx_sqmail_dir }}/bin/qmail-tcpok
{% if glx_sqmail_service_send.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_send.name }}"
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtp.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_smtp.name }}"
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtps.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_smtps.name }}"
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
{% endif %}
{% if glx_sqmail_service_submission.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_submission.name }}"
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_pop3.name }}"
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3s.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_pop3s.name }}"
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmqp.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_qmqp.name }}"
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtp.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_qmtp.name }}"
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtps.enable %}
    printf "$BOLD%s$BOLD_RST\n" "{{ glx_sqmail_service_qmtps.name }}"
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}
    svc -a $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
    printf "%s" "|──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}
    printf "%s" "└──"
    svstat $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
{% endif %}
    ;;
  queue)
    printf "$BOLD%s$BOLD_RST queue informations\n" "$SERVICE_TEXT"
    qmail-qstat
    qmail-qread
    ;;
  reload|hup)
    echo "Sending HUP signal to s/qmail."
{% if glx_sqmail_service_send.enable %}
    echo "{{ glx_sqmail_service_send.name }}"
    svc -h $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtp.enable %}
    echo "{{ glx_sqmail_service_smtp.name }}"
    svc -h $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtps.enable %}
    echo "{{ glx_sqmail_service_smtps.name }}"
    svc -h $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
{% endif %}
{% if glx_sqmail_service_submission.enable %}
    echo "{{ glx_sqmail_service_submission.name }}"
    svc -h $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3.enable %}
    echo "{{ glx_sqmail_service_pop3.name }}"
    svc -h $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3s.enable %}
    echo "{{ glx_sqmail_service_pop3s.name }}"
    svc -h $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmqp.enable %}
    echo "{{ glx_sqmail_service_qmqp.name }}"
    svc -h $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtp.enable %}
    echo "{{ glx_sqmail_service_qmtp.name }}"
    svc -h $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtps.enable %}
    echo "{{ glx_sqmail_service_qmtps.name }}"
    svc -h $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
{% endif %}
    ;;
  pause)
    echo "Sending Pause signal to s/qmail."
{% if glx_sqmail_service_send.enable %}
    echo "{{ glx_sqmail_service_send.name }}"
    svc -p $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtp.enable %}
    echo "{{ glx_sqmail_service_smtp.name }}"
    svc -p $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtps.enable %}
    echo "{{ glx_sqmail_service_smtps.name }}"
    svc -p $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
{% endif %}
{% if glx_sqmail_service_submission.enable %}
    echo "{{ glx_sqmail_service_submission.name }}"
    svc -p $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3.enable %}
    echo "{{ glx_sqmail_service_pop3.name }}"
    svc -p $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3s.enable %}
    echo "{{ glx_sqmail_service_pop3s.name }}"
    svc -p $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmqp.enable %}
    echo "{{ glx_sqmail_service_qmqp.name }}"
    svc -p $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtp.enable %}
    echo "{{ glx_sqmail_service_qmtp.name }}"
    svc -p $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtps.enable %}
    echo "{{ glx_sqmail_service_qmtps.name }}"
    svc -p $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
{% endif %}
    ;;
  cont)
    echo "Sending Continue signal to s/qmail."
{% if glx_sqmail_service_send.enable %}
    echo "{{ glx_sqmail_service_send.name }}"
    svc -c $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtp.enable %}
    echo "{{ glx_sqmail_service_smtp.name }}"
    svc -c $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_smtps.enable %}
    echo "{{ glx_sqmail_service_smtps.name }}"
    svc -c $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
{% endif %}
{% if glx_sqmail_service_submission.enable %}
    echo "{{ glx_sqmail_service_submission.name }}"
    svc -c $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3.enable %}
    echo "{{ glx_sqmail_service_pop3.name }}"
    svc -c $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
{% endif %}
{% if glx_sqmail_service_pop3s.enable %}
    echo "{{ glx_sqmail_service_pop3s.name }}"
    svc -c $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmqp.enable %}
    echo "{{ glx_sqmail_service_qmqp.name }}"
    svc -c $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtp.enable %}
    echo "{{ glx_sqmail_service_qmtp.name }}"
    svc -c $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
{% endif %}
{% if glx_sqmail_service_qmtps.enable %}
    echo "{{ glx_sqmail_service_qmtps.name }}"
    svc -c $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
{% endif %}
    ;;
  restart)
{% if glx_sqmail_service_send.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
    svc -t $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Restart {{ glx_sqmail_service_send.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Restart {{ glx_sqmail_service_send.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_send.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_smtp.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
    svc -t $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Restart {{ glx_sqmail_service_smtp.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Restart {{ glx_sqmail_service_smtp.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_smtps.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
    svc -t $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Restart {{ glx_sqmail_service_smtps.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Restart {{ glx_sqmail_service_smtps.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_submission.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
    svc -t $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Restart {{ glx_sqmail_service_submission.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Restart {{ glx_sqmail_service_submission.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_submission.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_pop3.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
    svc -t $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Restart {{ glx_sqmail_service_pop3.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Restart {{ glx_sqmail_service_pop3.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_pop3s.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
    svc -t $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Restart {{ glx_sqmail_service_pop3s.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Restart {{ glx_sqmail_service_pop3s.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_pop3s.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_qmqp.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
    svc -t $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Restart {{ glx_sqmail_service_qmqp.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Restart {{ glx_sqmail_service_qmqp.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmqp.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_qmtp.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
    svc -t $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Restart {{ glx_sqmail_service_qmtp.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Restart {{ glx_sqmail_service_qmtp.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtp.directory }}/log"
      printf "\n"
    fi
{% endif %}
{% if glx_sqmail_service_qmtps.enable %}
    svc -d $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
    svc -t $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
    svc -u $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }} $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log
    if svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }} && \
       svok $SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log; then
      printf "[ $COLOR_GREEN%s$COLOR_DEFAULT ] Restart {{ glx_sqmail_service_qmtps.name }} (via svc): " "ok"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log"
      printf "\n"
    else
      printf "[$COLOR_RED%s$COLOR_DEFAULT] Restart {{ glx_sqmail_service_qmtps.name }} (via svc): " "fail"
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}"
      printf " "
      printf "$SERVICE_DIRECTORY/{{ glx_sqmail_service_qmtps.directory }}/log"
      printf "\n"
    fi
{% endif %}
    ;;
  cdb)
{% if glx_sqmail_service_smtp.enable %}
    #echo "Build {{ glx_sqmail_service_smtp.name }} tcp.cdb file ..."
    #cd $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtp.directory }}
    #cp ./tcp ./tcp.bkp
    #chmod 644 ./tcp.cdb
    #make
{% endif %}
{% if glx_sqmail_service_smtps.enable %}
    #echo "Build {{ glx_sqmail_service_smtps.name }} tcp.cdb file ..."
    #cd $SERVICE_DIRECTORY/{{ glx_sqmail_service_smtps.directory }}
    #cp ./tcp ./tcp.bkp
    #chmod 644 ./tcp.cdb
    #make
{% endif %}
    ;;
  delqueue)
    find {{ glx_sqmail_dir }}/queue/mess -type f -exec rm {} \;
    find {{ glx_sqmail_dir }}/queue/info -type f -exec rm {} \;
    find {{ glx_sqmail_dir }}/queue/local -type f -exec rm {} \;
    find {{ glx_sqmail_dir }}/queue/intd -type f -exec rm {} \;
    find {{ glx_sqmail_dir }}/queue/todo -type f -exec rm {} \;
    find {{ glx_sqmail_dir }}/queue/remote -type f -exec rm {} \;
  ;;
  users)
    echo "Build local user data base ..."
    # for cdb auth
    /usr/local/bin/mkauth | /usr/local/bin/cdbmake-12 {{ glx_sqmail_dir }}/control/new.cdb {{ glx_sqmail_dir }}/control/new.tmp
    chown root:nofiles {{ glx_sqmail_dir }}/control/new.cdb
    chmod 0640 {{ glx_sqmail_dir }}/control/new.cdb
    mv {{ glx_sqmail_dir }}/control/new.cdb {{ glx_sqmail_dir }}/control/auth.cdb
    # for checkpassword
    #{{ glx_sqmail_dir }}/bin/qmail-pw2u < /etc/passwd > {{ glx_sqmail_dir }}/users/assign && {{ glx_sqmail_dir }}/bin/qmail-newu
  ;;
  help)
    cat <<HELP
   stop  -- stops mail service (smtp connections refused, nothing goes out)
  start  -- starts mail service (smtp connection accepted, mail can go out)
  pause  -- temporarily stops mail service (connections accepted, nothing leaves)
   cont  -- continues paused mail service
   stat  -- displays status of mail service
    cdb  -- rebuild the tcpserver cdb file for smtp smtps pop3 pop3s
  users  -- rebuild cdb file for local users
restart  -- stops and restarts smtp, sends {{ glx_sqmail_service_qmtps.name }} a TERM & restarts it
doqueue  -- schedules queued messages for immediate delivery
delqueue -- delete all queue after a relay attack
 reload  -- sends qmail HUP, rereading locals and virtualdomains
  queue  -- shows status of queue
   alrm  -- same as doqueue
  flush  -- same as doqueue
    hup  -- same as reload
HELP
    ;;
  version|-v|--v)
    cat <<VERSION
sqmailctl v0.5 by Tuux <tuux@rtnp.org> originaly qmailctl lifewithqmail script.
This script "sqmailctl" is part of Galaxie.

    Galaxie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Foobar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <https://www.gnu.org/licenses/gpl.txt>
VERSION
    ;;

  *)
    echo "Usage: $0 {start|stop|restart|doqueue|delqueue|flush|reload|stat|pause|cont|cdb|users|queue|help}"
    exit 1
    ;;
esac

exit 0