#!/bin/sh
QMAILU=`id -u {{ glx_sqmail_ids.qmaild.uname }}`
QMAILG=`id -g {{ glx_sqmail_ids.qmaild.uname }}`
HOSTNAME=`hostname`
export UCSPITLS=""
. {{ glx_qmail_dir }}/ssl/ssl.env
exec env PATH="{{ glx_qmail_dir }}/bin:$PATH" \
     sslserver -seVn -Rp -l $HOSTNAME \
     -Xx {{ glx_qmail_dir }}/control/rules.smtpd.cdb \
     -u $QMAILU -g $QMAILG 0 smtp \
     qmail-smtpd 2>&1
