#!/bin/sh
HOSTNAME=`hostname`
export UCSPITLS=""
. {{ glx_sqmail_dir }}/ssl/ssl.env
exec env PATH="{{ glx_sqmail_dir }}/bin:$PATH" \
     sslserver -seVn -Rp -l $HOSTNAME 0 pop3 \
     qmail-popup $HOSTNAME qmail-authuser true \
     qmail-pop3d {{ glx_sqmail_maildirname }} 2>&1 5>&1
