if $programname startswith 'axfrdns' then /var/log/axfrdns.log
if $programname startswith 'dnscache' then /var/log/dnscache.log
if $programname startswith 'rbldns' then /var/log/rbldns.log
if $programname startswith 'tinydns' then /var/log/tinydns.log
if $programname startswith 'walldns' then /var/log/walldns.log
& ~
