#!/bin/sh
QMAILU=`id -u {{ glx_sqmail_ids.qmaild.uname }}`
QMAILG=`id -g {{ glx_sqmail_ids.qmaild.uname }}`
HOSTNAME=`hostname`
export UCSPITLS=""
. {{ glx_sqmail_dir }}/ssl/ssl.env
exec env PATH="{{ glx_sqmail_dir }}/bin:$PATH" \
     sslserver -seVn -Rp -l $HOSTNAME \
     -Xx {{ glx_sqmail_dir }}/control/rules.smtpd.cdb \
     -u $QMAILU -g $QMAILG \
     {% if ansible_default_ipv4 and ansible_default_ipv6%}
     {{ ansible_default_ipv4.address }},{{ ansible_default_ipv6.address }}
     {% else %}
     {% if ansible_default_ipv4 %}
     {{ ansible_default_ipv4.address }}
     {% endif %}
     {% if ansible_default_ipv6 %}
     {{ ansible_default_ipv6.address }}
     {% endif %}
     {% endif %}
     smtp \
     qmail-smtpd 2>&1
