# Environment
SSL_USER={{ glx_sqmail_ids.sqmtls.uname }}
SSL_GROUP={{ glx_sqmail_groups.nofiles.gname }}
SSL_DIR="{{ glx_sqmail_ssl_dir }}"
SSL_CHROOT="$SSL_DIR"
# Checks
SSL_UID=`id -u $SSL_USER`
[ $? -ne 0 ] && ( echo "No such user '$SSL_USER'" ; exit )
SSL_GID=`id -g $SSL_USER`
[ $? -ne 0 ] && ( echo "No such group '$SSL_GROUP'" ; exit )
# Files  
CERTCHAINFILE="$SSL_DIR/chain6.pem"
CERTFILE="$SSL_DIR/{{ glx_sqmail_control_me }}.pem"
KEYFILE="$SSL_DIR/{{ glx_sqmail_control_me }}.key"
DHFILE="$SSL_DIR/dh{{ glx_ucspi_ssl_rsa_key_size }}.pem"
# Exported
export SSL_UID SSL_GID SSL_CHROOT
export CERTFILE KEYFILE DHFILE
#export CERTCHAINFILE
