{% if "amd64" in DEB_BUILD_ARCH.stdout %}gcc -s -m64

This is for AMD64 architecture; use else:
{% endif %}
gcc -s

This will be used to link .o files into an executable.
The '-m64' option will be inclucded automatically.
