[Desktop Entry]
Name=PyCharm
Icon={{ galaxie_pycharm_community_opt_dir }}/{{ galaxie_pycharm_community_name }}/bin/pycharm.png
GenericName=Python and Django IDE
Comment=Powerful Python and Django IDE. Community edition.
Exec=/usr/bin/pycharm
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=jetbrains-pycharm-ce