[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Thunderbird
Comment=Email Calendar ContactManagement IRCClient Chat
Type=Application
Terminal=false
Exec=/usr/bin/thunderbird %U
Icon={{ optional_applications_dir }}/thunderbird/chrome/icons/default/default256.png
StartupNotify=true
Categories=Network;Email;Calendar;ContactManagement;IRCClient;Chat;