[apt]
frontend=mail
email_address={{ galaxie_apt_unattended_email_contact }}
confirm=0
save_seen=/var/lib/apt/listchanges.db
which=news

[apticron]
frontend=mail
email_address={{ galaxie_apt_unattended_email_contact }}
confirm=0
save_seen=/var/lib/apt/listchanges.db
which=both