[Unit]
Description=Qmail SMTPD service Socket for Per-Connection Servers
Documentation=man:qmail-smtpd(8)

[Socket]
ListenStream=25
Accept=yes
Service=qmail-smtpd@.service
#BindIPv6Only=both

[Install]
WantedBy=sockets.target