{% if DEB_BUILD_ARCH_BITS == 64 %}cc -s -m64

This is for AMD64 architecture; use else:
{% endif %}
cc -s

This will be used to link .o files into an executable.

Note: UCSPI-SSL's conf-ld needs to use the same architecture!
