[Unit]
Description=Qmail SMTPD service Socket for Per-Connection Servers
Documentation=man:qmail-smtpd(8)

[Socket]
SocketUser={{ galaxie_qmail_server_qmaild_user }}
SocketGroup={{ galaxie_qmail_server_nofiles_group }}
ListenStream=25
Accept=false

[Install]
WantedBy=sockets.target