[Unit]
Description=Qmail Delivery service
After=syslog.target network.target
After=local-fs.target
ConditionFileIsExecutable=/var/qmail/bin/qmail-start

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
StandardOutput=syslog
StandardError=inherit
SyslogFacility=mail
SyslogIdentifier={{ galaxie_qmail_server_service_send }}
Environment=PATH={{ galaxie_qmail_server_qmail_dir }}/bin:/usr/bin:/bin:/usr/sbin:/sbin
ExecStart={{ galaxie_qmail_server_qmail_dir }}/bin/qmail-start {{ galaxie_qmail_server_control_defaultdelivery }}
ExecReload={{ galaxie_qmail_server_qmail_dir }}/bin/qmail-tcpok ; /bin/kill -ALRM ${MAINPID}