[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Firefox
Comment=Browse the World Wide Web
Type=Application
Terminal=false
Exec=/usr/bin/firefox %U
Icon={{ galaxie.applications_dir }}/firefox/browser/icons/mozicon128.png
StartupNotify=true
Categories=Network;WebBrowser;