[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Firefox
Comment=Browse the World Wide Web
Type=Application
Terminal=false
Exec={{ galaxie_mozilla_firefox_system_path }} %U
Icon={{ galaxie_mozilla_firefox_opt_dir }}/{{ galaxie_mozilla_firefox_app_name }}/browser/icons/mozicon128.png
StartupNotify=true
Categories=Network;WebBrowser;