                  ________        __                 __
                 /  _____/_____  |  | _____  ___  __|__| ____
                /   \  ___\__  \ |  | \__  \ \  \/  /  |/ __ \
                \    \_\  \/ __ \|  |__/ __ \_>    <|  \  ___/_
                 \________(_____ /____(_____ /__/\_ \__|\_____/

Hostname  : {{ ansible_hostname }}{% if galaxie_localdomain %}.{{ galaxie_localdomain }}
{% endif %}
{% if ansible_default_ipv4.address %}
eth0 IPv4 : {{ ansible_default_ipv4.address }}
{% endif %}
{% if ansible_default_ipv6.address %}
eth0 IPv6 : {{ ansible_default_ipv6.address }}
{% endif %}
