# {{ ansible_managed }}
{% if dns_set_domain  %}
{% if inventory_hostname in groups["internal-machines"] %}
domain {{ dns_internal_domain }}
{% endif %}
{% if inventory_hostname in groups["external-machines"] %}
domain {{ dns_external_domain }}
{% endif %}
{% endif %}
{% if dns_set_domain_name_servers %}
{% if ResolverCheck.rc == 0 %}
{% for dnsserver in dns_nameservers %}
nameserver {{dnsserver}}
{% endfor %}
{% endif %}
{% if ResolverCheck.rc != 0 %}
{{ dns_default_nameservers_description }}
{% for dnsserver in dns_default_nameservers %}
nameserver {{dnsserver}}
{% endfor %}
{% endif %}
{% endif %}
{% if dns_set_domain_search %}
search {% for suffix in dns_searchs %}{{suffix}} {% endfor %}
{% endif %}
